fastapi
uvicorn[standard]
pydantic
httpx
python-dotenv
pypdf
sentence-transformers
faiss-cpu
pytest
huggingface-hub
python-multipart
langchain-community
chromadb
langchain-huggingface
numpy 
python-docx
docx2txt
pandas
openpyxl
langgraph
PyJWT>=2.8.0
slowapi
langsmith